.container {
  height: 316px;
  overflow: auto;
}
table {
    width: 100%;
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  .id {
    padding-top: 10px;
    width: 25%;
    height: 41px;
  }
  .column{
    padding-top: 10px;
    width: 14%;
    height: 41px;
  }
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }


