<div class="container">
    <h2>
      <mat-label class="title">New Costumer</mat-label>
    </h2>
    
    <mat-form-field class="input" appearance="fill">
      <mat-label color="accent">Name</mat-label>
      <input placeholder="Your name here" matInput required [(ngModel)]="costumer.name" (change)="validateName()"  pattern="[a-zA-Z ]*">
    </mat-form-field>
    
    <mat-form-field class="input" appearance="fill">
      <mat-label color="accent">Last Name</mat-label>
      <input placeholder="Your last name here" matInput required [(ngModel)]="costumer.lastName" (change)="validateLastName()" >
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label color="accent">Status</mat-label>
        <mat-select required [(ngModel)]="costumer.status" >
            <mat-label>Choose an status</mat-label>
            <mat-option value="pending">Pending</mat-option>
            <mat-option value="active" >Active</mat-option>
            <mat-option value="inactive">Inactive</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field class="input" appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com"  [(ngModel)]="costumer.email" required (change)="validateEmail()">

    </mat-form-field>
    
    <mat-form-field class="input" appearance="fill">
      <mat-label color="accent">Phone</mat-label>
      <input placeholder="numbers only" matInput type="number" [(ngModel)]="costumer.phone" (keypress)="validateTypeNumber()" pattern="[0-9]*">
    </mat-form-field>

  
    <div class="demo-button-container">
      <button (click)="sendCostumerForm()" mat-dialog-close mat-raised-button color="accent" class="demo-button" [disabled]="!sendForm">
        SEND
      </button>
      <button mat-dialog-close mat-raised-button class="demo-button" (click)="closeForm()" >
        Cancel
      </button>
    </div>
  
  </div>
  