        <mat-toolbar color="primary">
            <span>Customer List </span>
            <span class="spacer"></span>
            <a (click)="openDialog('300ms', '500ms')" class="fab" mat-fab color="warn" #tooltip="matTooltip" matTooltip="Escríbeme."
            aria-label="Icon-button with email icon">
                <mat-icon>email</mat-icon>
            </a>
            <a (click)= "openLink('https://github.com/nicolascalvo73/CustomerChallenge')" class="fab" matTooltip="Ver en Github." mat-fab color="warn" class="example-icon" aria-label="Icon-button with code icon">
                <mat-icon>code</mat-icon>
            </a>
        </mat-toolbar>

